*.pyc
*.bak
*.mps
*.sol
*.pdf
*.swp
.DS_Store
.ipynb_checkpoints/
.python-version
GUROBIPY example.ipynb
Untitled.ipynb
gurobi.log
netflow_GEII.ipynb
ets_results_draining.txt
ets_results_draining_closest.txt
ets_results_naive.txt
ets_results_new.txt
stats.txt
pfs_target_list/pfs_preliminary_target_archaeology.dat
pfs_target_list/pfs_preliminary_target_archaeology_umi.dat
pfs_target_list/pfs_preliminary_target_archaeology_umi_fcstars_mock.dat
pfs_target_list/pfs_preliminary_target_archaeology_umi_fcstars_mock_lowdeNsity.dat
pfs_target_list/pfs_preliminary_target_archaeology_umi_sky_mock.dat
pfs_target_list/pfs_preliminary_target_archaeology_umi_sky_mock_lowdensity.dat
pfs_target_list/pfs_preliminary_target_cosmology.dat
pfs_target_list/pfs_preliminary_target_cosmology_fcstars.dat
pfs_target_list/pfs_preliminary_target_cosmology_sky.dat
pfs_target_list/pfs_preliminary_target_galaxy.dat
pfs_target_list/pfs_preliminary_target_galaxy_fcstars_mock.dat
pfs_target_list/pfs_preliminary_target_galaxy_sky_mock.dat
pfs_target_list.back
